<!DOCTYPE html>
<html lang="en" ng-app="radar">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SG-Radar</title>

<!-- CSS -->
<link rel="stylesheet" href="resources/css/bootstrap/bootstrap.css" />

<!-- theme -->
<link rel="stylesheet"
	href="resources/css/bootstrap/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="resources/css/main.css" />

<!-- javaScript -->
<script type="text/javascript" src=" resources/js/jquery/jquery.js">
	
</script>
<script type="text/javascript" src="resources/js/main.js">
	
</script>
<script type="text/javascript" src="resources/js/angularJs/angular.js">
	
</script>
<script type="text/javascript"
	src="resources/js/angularJs/angular-route.js">
	
</script>

<!-- angularJs files -->
<script type="text/javascript"
	src="resources/js/app/controllers/dashboard/dashboard.js">
	
</script>
<script type="text/javascript"
	src="resources/js/app/controllers/dashboard/controllers.js">
	
</script>
<script type="text/javascript"
	src="resources/js/app/services/dashboard/services.js">
	
</script>
<script type="text/javascript" src="resources/js/app/app.js">
	
</script>

</head>
<body>
	<div class="container">
		<ng-view></ng-view>
	</div>
</body>
</html>